.cast-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 12px;
  border-bottom: 1px solid #ebf0f2;
}

.cast-image-small {
  height: 160px;
  width: 160px;
  background: #beccd5;
}

.cast-image-large {
  height: 300px;
  width: 300px;
  background: #beccd5;
}

.index-play-button {
  color: #49596a;
  font-size: 50px;
  cursor: pointer;
  margin: 0 40px;
}

.show-play-button {
  color: white;
  font-size: 80px;
  cursor: pointer;
  margin: 20px;
}

.cast-show-el {
  display: flex;
}

.cast-index-text-info {
  position: relative;
  min-height: 64px;
}

.cast-show-text-info {
  position: relative;
  min-height: 64px;
  margin: 20px;
}

.cast-index-title {
  color: #49596a;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 2px;
}

.cast-author {
  color: #4fa6d3;
  margin-bottom: 12px;
}

.item-el {
  color: #8196a7;
}
