button {
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  border: 0;
  font-size: 12px;
  text-align: center;
}

.blue-button {
  background: #4fa6d3;
  font-weight: 800;
  padding: 8px 16px;
}

.green-button {
  text-align: center;
  color: white;
  background: #50b348;
  margin-bottom: 12px;
  padding: 12px 0;
  border-radius: 4px;
}
