button {
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  border: 0;
  font-size: 12px;
  text-align: center;
}

.blue-button {
  background: #4fa6d3;
  font-weight: 800;
  padding: 8px 16px;
}

.green-button {
  background: #50b348;
  font-weight: 800;
  padding: 8px 16px;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.document-title {
  padding: 20px;
  border-bottom: 2px solid #ebf0f2;
}

.form-input-field {
  background: white;
  color: black;
  font-size: 12px;
  width: 90%;
  margin: 10px;
  padding: 12px;
  border: 1px solid rgba(10,30,44,.15);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(10,30,44,.05);
}

.render-errors {
  text-align: center;
  background: #fdf5f5;
  color: #e2584e;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e2584e;
}

.cast-edit-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.upload-form-actions {
  width: 180px;
  margin: 20px 80px;
  align-self: baseline;
}
