.player-height-placeholder {
  height: 100px;
  background: transparent;
}

.playback-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: rgba(39,58,75,.97);
  z-index: 1;
}

.cast-img-playback {
  width: 52px;
  height: 52px;
}

.playback-play-icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin: 12px 24px;

}

.playback-cast-text-info {
  color: white;
  font-size: 14px;
  margin: 6px 10px 0 0;
}

.playback-volume-icon {
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 13px;
}

.progress-bar-container {
  margin: 20px 20px;
  border-radius: 5px;
  // width: 100%;
  box-sizing: content-box;
}

.audio-tag {
  display: none;
}
