.show-page-header {
  display: flex;
  justify-content: space-around;
  background: rgb(19, 20, 25);
}

.cast-show-title {
  font-size: 32px;
  font-weight: 300;
  color: white;
  letter-spacing: -1px;
  text-shadow: 0 2px 4px rgba(52,73,94,.2);
}

.cast-author {
  font-size: 14px;
}

.show-page-body {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  align-items: flex-start;
}

.cast-creator-actions {
  display: flex;
  position: relative;
  color: #697f95;
  font-size: 18px;
  margin: 40px;
}

.cast-action-title {
  background: #f5f9fc;
  padding: 20px 40px;
  border: 1px solid #8196a7;
  border-radius: 4px;
}
