.show-page-header {
  display: flex;
  justify-content: space-around;
  background: rgb(19, 20, 25);
}

.user-page-header {
  display: flex;
  justify-content: space-around;
  background: rgb(19, 20, 25);
  padding: 80px;
}

.user-show-avatar {
  display: flex;
  margin-left: 60px;
}

.user-username {
  color: #34495e;
  font-weight: 300;
  margin: 28px;
  font-size: 30px;
}

.user-page-content img {
  max-height: 160px;
  max-width: 160px;
  border: 1px solid white;
  border-radius: 4px;
}

.cast-show-title {
  font-size: 56px;
  font-weight: 300;
  color: white;
  letter-spacing: -1px;
  text-shadow: 0 2px 4px rgba(52,73,94,.2);
}

.cast-show-creator {
  font-size: 24px;
  padding: 0 4px;
  color: white;
}

.cast-show-title:hover, .cast-show-creator:hover {
  color: #cdd9e4;
}

.user-page-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.show-page-body {
  display: flex;
  flex-direction: column;
  margin: 20px 100px;
  align-items: flex-start;
}

.cast-creator-actions {
  display: flex;
  position: relative;
  color: #697f95;
  font-size: 18px;
  margin: 40px;
}

.user-actions {
  color: #697f95;
  font-size: 18px;
  margin: 40px;
}

.cast-action-title {
  background: #f5f9fc;
  padding: 20px 40px;
  border: 1px solid #8196a7;
  border-radius: 4px;
}

.cast-action-title:hover {
  color: #4fa6d3;
}

.user-page-body {
  display: flex;
  justify-content: space-around;
}

.user-show-index {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-location {
  color: #49596a;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 2px;
}

.user-bio {
  max-width: 300px;
}
