.splash-page {
  height: 100vh;
  background-image: image-url('towers_blue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-content {
  position: relative;
  top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.splash-title {
  padding: 0 20px;
  color: white;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -1px;
  text-shadow: 0 2px 4px rgba(52,73,94,.2);
}

.splash-tagline {
  color: white;
  font-size: 14px;
  font-weight: 400;
  opacity: .7;
}
